/* Importing main Font for Website */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --white: #fff;
  --grey: #f4f4f4;
  --grey-second: #ddd;
  --grey-font: rgba(107, 114, 128, 1);

  --black: #333;

  --green: #d1fae5;
  --green-font: #065f46;

  --mediee-red: #ef496f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--mediee-red);
}

.title-bar > h1 {
  font-weight: 500;
}

li {
  list-style-type: none;
}

a:hover {
  color: var(--black);
}

input:focus {
  outline: 1px solid var(--mediee-red);
}

.mt-2 {
  margin-top: 1rem;
}

.p-2 {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

/* Utilities */
.container {
  width: 960px;
  margin: auto;
}

.container-fluid {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.container-minus-sidebar {
  width: calc(100% - 180px);
  float: right;
}

.table-container {
  width: 800px;
}

/* ================== */
/* == TABLES ======== */
/* ================== */
table {
  background: var(--white);
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
}

td,
th {
  padding: 8px;
}

tbody {
  border: 0.5px solid var(--grey); /* f4f4f4 */
}

th {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--grey); /* f4f4f4 */
  font-weight: 500;
  text-transform: uppercase;

  color: var(--grey-font);
  font-size: 14px;

  border: 0.5px solid var(--grey);
}

tr {
  border-bottom: 0.5px solid var(--grey);
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

tbody,
tr:last-child td:first-child {
  border-bottom-left-radius: 30px;
}
tbody,
tr:last-child td:last-child {
  border-bottom-right-radius: 30px;
}

.line-one {
  display: block;
}

.line-two {
  color: var(--grey-font);
}

.table-profile-image,
.sidebar-profile-image {
  float: left;
  margin-right: 10px;

  height: 40px;
  width: 40px;

  border-radius: 100%;

  object-fit: cover;
}

.role {
  padding: 2px 8px 2px 8px;
  border-radius: 25px;
}

.role.admin {
  background: var(--green);
  color: var(--green-font);
}

.form-container {
  width: 450px;
  margin: auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px 15px;
  border: 1px solid var(--grey-second);
  border-radius: 4px;

  font-size: 16px;
}

.form-title-box {
  text-align: center;
  margin-bottom: 30px;
}

.form-title {
  font-weight: bold;
  font-size: 30px;

  color: var(--mediee-red);
}

.form-subtitle {
  color: var(--grey-font);
  font-size: 14px;
}

.form-button {
  width: 50%;
  padding: 13px;
  background: var(--mediee-red);
  border-radius: 4px;

  color: var(--white);
  font-size: 14px;
  border: 1px solid var(--mediee-red);

  margin-top: 10px;
  cursor: pointer;

  margin-left: 2px;
  margin-right: 2px;
}

.form-button:hover {
  background: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
}

.split-2 {
  width: 50%;
  background: var(--mediee-red);
  height: 100vh;
}

.split-1 {
  margin: auto;
}

.sidebar {
  width: 180px;
  height: 100vh;

  float: left;

  padding: 10px;
  background: var(--grey);

  transition: 0.5s;
  z-index: 1;
}

.items-container {
  margin-top: 1rem;
}

.item {
  margin-bottom: 0.5rem;
}

.item > a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--grey-font);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border-radius: 0.25rem;
}

.item > a:hover:not(.item-active) {
  background: var(--grey-second);
  color: var(--black);
}

.item-active {
  background: var(--mediee-red);
  color: var(--white) !important;
  border-radius: 0.25rem;
}

.logout {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: calc(180px - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  margin-top: 1rem;
  margin-right: 20px;
}

.user-image {
  height: 35px;
  width: 35px;

  border-radius: 100%;

  float: left;

  margin-right: 10px;
}

.user-text-box {
  float: right;
}

.user-name {
  font-size: 14px;
  color: var(--black);
}

.user-tagline {
  font-size: 12px;
  color: var(--grey-font);
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--mediee-red);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite; 
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload-input {
  display: block !important;
}

.upload-input > label {
  padding-left: 5px;
}
