.primary-bg-color {
  background: #ef496f !important;
}

*:focus {
  outline: none !important;
}

.search-input {
  border: 1px solid #ddd !important;
  margin-bottom: 10px;
}

.my-select {
  cursor: pointer;
  background-image: url(./assets/icon.svg) !important;
  background-position: right 1.5rem !important;
  background-size: 16px 12px !important;
}

a {
  text-decoration: none !important;
}

.btn-info {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
